* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}
.overlay{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/images/sekiro_banner.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.overlay > h1{
    color: rgb(53, 49, 58);
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}
.overlay > p{
    color: #A70505;
    position: absolute;
    top:28%;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: right;
    transition: 0.3s;
}
nav.active{
    margin-right: 360px;
}

nav > ul > li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
nav > ul > li:before, nav > ul > li:after
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #A70505;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}
nav > ul > li:before
{
    top: 0;
    transform: translateY(10px);
}
nav > ul > li:after
{
    bottom: 0;
    transform: translateY(-10px);
}

nav > ul > li:hover:before, nav > ul > li:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

nav > ul > li:hover::after {
    width: 100%;
}

nav > ul > li > a{
    color: #A70505;
    text-decoration: none;
    font-size: 18px;
}

.purchase-btn{
    display: flex;
    position: absolute;
    top:85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(/images/preorder-btn.png) center center no-repeat;
    background-size: contain;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    margin: 30px auto 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}
.purchase-btn:hover{
    color: black;
}
.main{
    background-color: rgb(5, 7, 14);
}
.explanationofgame{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.explanationofgame > h3{
    color: darkgoldenrod;
    font-size: 30px;
    font-weight: normal;
}
.explanationofgame > p{
    color: white;
    margin-top: 13px;
}

.charactercontainer{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.charactercard{
    background: white;
    width: 270px;
    margin: 70px;
    border-radius: 15px;
}

.charactercontainer > .charactercard > img{
    height: 40%;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
}

.charactercontainer > .charactercard > p, h3{
    text-align: center;
}
.charactercontainer > .charactercard > p{
    margin: 15px;
}
.charactercard-button{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 15px;
}

.reviews {
    padding-top: 40px;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}
.testimonial{
    padding: 30px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col{
    flex: 33.33%;
    max-width: 33.33%;
}
.testimonial > img{
    width: 100px;
    height: 100px;
    border-radius: 60px;
}
.testimonial > i{
    color: darkgoldenrod;
}
.testimonial > .user-review{
    font-size: 20px;
}
.reviews > .reviewsheader{
    letter-spacing: 1px;
    margin: 30px 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews > .reviewsheader > h4{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 10px 20px;
}
.reviews > .reviewsheader > p {
    font-size: 1.3rem;
    color: black;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

footer{
    padding: 15px 0;
}
footer > .social{
    text-align: center;
    padding-bottom: 25px;
}

footer > .social > a{
    font-size: 25px;
    color: #434343;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
footer > .social > a:hover{
    opacity: 1.0;
}
footer > .copyright{
    text-align: center;
    font-size: 13px;
    color: #aaa;
}
footer.active{
}

li > i{
    font-size: 23px;
    cursor: pointer;
}

.shoptitle{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}
.cart{
    position: fixed;
    margin-left: auto;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}

.cart.active{
    right:0;
}

.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.cart-product-title{
    font-size: 16px;
    text-transform: uppercase;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-quantity{
    border: 1px solid black;
    outline-color: white;
    width: 2.8rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    font-size: 15px;
    color: black;
    cursor: pointer;
}
.cart-total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.total-tile{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: 0.5rem;
}
.buy-button{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: black;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.buy-button:hover{
    background: #A70505;
    transition: 0.2s;
}
#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 18px;
    cursor: pointer;
}

.product-img{
    width: 75%;
    height: 75%;
    margin-bottom: 10px;
}
.shopcontainer{
    padding: 1rem 0 3rem;
    transition: 0.3s;
}
.shopcontainer.active{
    margin-right: 360px;
}

.shopcontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.product{
    position: relative;
}

.product:hover{
    padding: 10px;
    transition: 0.4s;
}

.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}
.price{
    font-size: 20px;
}
.product > i{
    position: absolute;
    right: 10%;
    background: black;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.product > i:hover{
    opacity: 0.80;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 25px;
    border: 1px solid black;
}
.flex-outer > li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex-outer > li > label{
    flex: 1 0 120px;
    max-width: 100px;
}

.flex-outer > li > label + *{
    flex: 1 0 100px;
}

.flex-outer li input,
.flex-outer li textarea {
    padding: 15px;
    border-radius: 5px;
}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.webshop-page{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contactpagina {
  color: #A70505 ;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contact-header > h1{
    font-size: 40px;
    text-align: center;
}

.contact-header > p{
    font-size: 20px;
    text-align: center;
    color: black;
    margin-bottom: 30px;
}

.contact-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

}
.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer > li{
    margin-bottom: 20px;
}

.flex-outer li > label{
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (min-width: 841px) and (max-width: 1200px){
    nav{
        flex-direction: column;
        align-items:center;
    }
    nav > li > a{
        font-size: 30px;
    }
    .overlay > h1{
        font-size: 35px;
    }
    .overlay > p{
        margin-top: 10px;
    }
}

@media screen and (min-width: 601px) and (max-width: 841px){
    nav{
        flex-direction: column;
        align-items:center;
    }
    nav > li > a{
        font-size: 25px;
    }
    .overlay > h1{
        font-size: 30px;
    }
    .overlay > p{
        margin-top: 10px;
    }
}

@media screen and (max-width: 601px){
    nav{
        flex-direction: column;
        align-items:center;
    }
    nav > li > a{
        font-size: 20px;
    }
    .overlay > h1{
        font-size: 30px;
    }
    .overlay > p{
        margin-top: 10px;
    }
}
@media screen and (max-width: 442px){
    .overlay > h1{
        font-size: 27px;
    }
}




@media screen and (max-width: 600px){
    .shopcontent{
        grid-template-columns: 1fr;
    }
    .product-img{
       width: 200px;
        height: 300px;
    }
    .product{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1000px){
    .cart.active{
        height: 50vh;
        width: 70vh;
    }
    .shopcontainer.active,nav.active, footer.active{
        display: none;
    }

}

@media screen and (max-width: 850px){
    .col{
        flex: 100%;
        max-width: 80%;
    }
}
